services:
  mqtt:
    image: eclipse-mosquitto:openssl
    container_name: mqtt
    restart: always
    ports:
      - 1883:1883
    configs:
      - source: mqtt_cfg
        target: /mosquitto/config/mosquitto.conf
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  ntp-drift-agent:
    build: .
    container_name: ntp-drift-agent
    depends_on:
      - mqtt
    environment:
      - MQTT_HOST=mqtt
      - MQTT_PORT=1883
      - MQTT_TOPIC=ntp/drift
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    restart: unless-stopped

configs:
  mqtt_cfg:
    file: ./mosquitto.conf
